*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#title{
    text-align: center;
}
.years{
    text-align: center;
}
#months-button{
    text-align: center;
}
#months{
    text-align: center;
}
#my-button{
    text-align: center;
}
#btn{
    text-align: center;
    background-color: black;
    outline: none;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;

}