*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    min-width: 300px;
    height: 80vh;
    border: 1px solid blue;
    margin: auto;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
#title{
    text-align: center;
    min-width: 200px;
}
.years{
    text-align: center;
}
#months-button{
    text-align: center;
}
#weeks-button{
    text-align: center;
}
#days-button{
    text-align: center;
}
#hrs-button{
    text-align: center;
}
#hrs{
    text-align: center;
}
#weeks{
    text-align: center;
}
#days{
    text-align: center;
}
#months{
    text-align: center;
}
#my-button{
    text-align: center;
}
#btn{
    text-align: center;
    background-color: black;
    outline: none;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;

}
#btn:hover{
    /* text-align: center; */
    background-color: grey;
    outline: none;
    color: #fff;
    transition: 3s;
}
p{
    font-size: 22px;
}