*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    /* min-width: 350px; */
    height: 90vh;
    border: 1px solid blue;
    margin: auto;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#title{
    text-align: center;
    min-width: 200px;
}
#tarehe{
    text-align: center;
    padding: 7px;
}
#my-form{
    text-align: center;
}
#name{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px;
    outline: none;
}
#my-btn{
    margin-top: 3px;
    padding: 4px;
}
.years, #months-button, #weeks-button,
#days-button,#hrs-button, #hrs, #weeks, #days, #months, #minutes-button, #mins, #my-button{
    text-align: center;
}
#btn{
    text-align: center;
    background-color: black;
    outline: none;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;

}
#btn:hover{
    background-color: grey;
    outline: none;
    color: #fff;
    transition: 3s;
}
p{
    font-size: 22px;
}